.signups {
    border: solid #6d4c41 3px;
    margin-top: 5%;
    padding: 5%;

}

.addbtn {
    margin: 30px;
   
        /* height: 24px;
        line-height: 24px;
        padding: 0 0.5rem; */
    
}