.search {
  height: 20px;
  border: solid 3px;
}

.con{
  background-image: url("https://i.postimg.cc/jd3zcpHs/homepagechef.png");
  font-family: 'Lobster', cursive;
  font: bold;
  
}

.secH{
font-weight: bolder;
color: #ffab40
}
.oneH{
  color:#3e2723
}



